body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

.lexend-title {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: white;
}

.lexend-text {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  /* font-size: 10; */
}

.landing {
  height: 100vh;
  /* width: 100vw; */
  background: #fff;
  padding-top: 1px;
  background: linear-gradient(-45deg, #aba8ff, #5e5ad1, #aba8ff, #5e5ad1);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  color: white;
  /* text-align: center; */
}

.landing .landing-text {
  text-align: left;
  padding-left: 100px;
  padding-top: 70px;
  font-size: 3em
}

.landing .landing-title {
  text-align: left;
  /* align: center; */
  padding-left: 50px;
  padding-right: 50px;
  font-size: 11em;
}

.center {
  display: flex;
  /* justify-content: center; */
}

/* Found on https://www.sliderrevolution.com/resources/css-animated-background/ */
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.card{
  border: 1ps solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.109);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0px;
  color: rgb(38, 15, 171);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: rgb(70, 39, 132);
}

.button{
  background-color: rgb(119, 100, 223);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
